:host{

  header {
    width: 100%;
    background-color: var(--primary);
    color: white;
    display: flex; /* Usa Flexbox */
    justify-content: center; /* Alinha o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
    position: relative; /* Permite o posicionamento relativo para a imagem */
  }

  header h1 {
    padding: 15px;
    text-align: center;
    flex-grow: 1; /* Faz o título crescer e ocupar o máximo de espaço possível */
  }

  header a {
    background: none;
    border: none;
    position: absolute; /* Posiciona o botão de forma absoluta */
    right: 100px; /* Afasta o botão da borda direita */
    height: auto;
    cursor: pointer;
  }

  header a img {
    height: 40px; /* Ajuste o tamanho da imagem conforme necessário */
  }

  @media (max-width: 480px) {
    .container {
      width: 100%;  /* Garante que a largura da .container seja 100% */
      padding: 0 15px; /* Ajusta o padding se necessário */

      h1{
        font-size:15px;
        text-align: left;
      }
    
    }
}
}
