:host{

  #linha{
    padding:2px;
    background-color: rgb(128, 128, 128);
    margin-top:50px;
  }

  #autor{
    color: white;
    background-color: var(--primary);
    padding:20px;
    text-align: center;
  }
}
