*{

  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  margin: 0;
  font-family: 'Helvetica' ;
  background-color: white;
}

h1{
  font-size:22px;
}

h2,h3{
  font-size: 14px;
}


h1,h2,h3,a{
  color:var(--white);
  text-decoration: none;
}


p{
  color: var(--grey);
  font-size: 16px;
  margin: 10px 0;
}


ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.container{
  min-height: 85vh;
}


button{
  color: #FFFFFF;
  padding: 5px;
  background-color: var(--primary);
  width: 100px;
  border-radius: 4px;
  border: 1px solid var(--primary);
  cursor: pointer;
position: relative;

}

.copiar{
  left: 902px;
}
