<thead>
  <tr class="planilha">
    <th><input  #input (keyup)="search(input.value)" placeholder="Filtrar por nome" /></th>
    <th><input  #input (keyup)="search(input.value)" placeholder="Filtrar por CNPJ" /></th>
    <th><input  #input (keyup)="search(input.value)" placeholder="Filtrar por valor" /></th>
    <th><input  #input (keyup)="search(input.value)" placeholder="Filtrar por quantidade" /></th>
    <th><input  #input (keyup)="search(input.value)" placeholder="Filtrar por tipo" /></th>
    <th><input  #input (keyup)="search(input.value)" placeholder="Filtrar por consultor" /></th>
    <th><input  #input (keyup)="search(input.value)" placeholder="Filtrar por vtme" /></th>
    <th><input  #input (keyup)="search(input.value)" placeholder="Filtrar por data" /></th>
  </tr>
</thead>
