:host{

  #titulo{
    color: #FFFFFF;
    padding: 10px;
    background-color: var(--primary);
    width: 200px;
    border-radius: 5px;
  }

  #inputVtme
{
  width: 1000px;
  height: 300px;
  word-wrap: break-word;

}
}


