<app-header/>


<div class="email">
  <app-email (outputAddtexto)="handleTexto($event)"></app-email>

  <div *ngIf="textoFormatado.length > 0" class="main">
    <p *ngFor="let item of textoFormatado">
      <strong>PEDIDO NOVO</strong> <br><br>
      <strong>CONSULTOR:</strong> {{ item.consultor }}<br />
      <strong>CLIENTE:</strong> {{ item.cliente }}<br />
      <strong>VTME:</strong> {{ item.vtme }}<br />
      <strong>CNPJ:</strong> {{ item.cnpj }}<br />
      <strong>TIPO:</strong> {{ item.tipo }}<br />
      <strong>RADAR:</strong>

      <br> <br>

      <strong>OBS: </strong>


    </p>
  </div>
</div>

<div>

  <div>
    <table *ngIf="textoFormatado.length > 0" id="relatorio">
      <thead>
        <tr class="planilha">
          <th>Nome</th>
          <th>Cnpj</th>
          <th>Valor</th>
          <th>Quantidade</th>
          <th>Tipo</th>
          <th>Consultor</th>
          <th>Vtme</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let registro of textoFormatado">
          <td>{{ registro.cliente }}</td>
          <td>{{ registro.cnpj }}</td>
          <td>{{registro.valor}}</td>
          <td>{{registro.quantidade}}</td>
          <td>{{ registro.tipo }}</td>
          <td>{{ registro.consultor }}</td>
          <td>{{ registro.vtme }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
