

:host{
  .main{
    font-family: 'Helvetica';
    margin-left: 20px;
    margin-right: 495px;
    border: 1px solid rgb(162, 162, 162);
    background-color:var(--gray);
    padding-top: 20px;

    p{
      margin-left:50px
  }

  }

  #relatorio {
     border-collapse: collapse; /* Remove o espaçamento entre as células */
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 150px;


  }

  #relatorio th,
  #relatorio td {
    padding: 15px 21.7px;
    text-align: center;
    border: 1px solid #ddd; /* Borda entre as células */
  }

  #relatorio tr:nth-child(even) {
    background-color: #f2f2f2; /* Alterna a cor das linhas para melhorar a leitura */
  }

  #relatorio th {
    background-color: var(--primary); /* Cor do cabeçalho */
    color: white;
  }

  #relatorio tbody {
      background-color: var(--gray);
  }
  .planilha {
    background-color: #f4f4f4;

  }

  #btn_copiar{
    color: #FFFFFF;
    padding: 5px;
    background-color: var(--primary);
    width: 100px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    cursor: pointer;
  position: relative;
  left: 902px;


  }
}
