<div class="email">


  <app-email (outputAddtexto)="handleTexto($event)"></app-email>

  <div *ngIf="textoFormatado.length > 0" class="main">

    <p *ngFor="let item of textoFormatado">
     <strong>CONSULTOR:</strong>  {{ item.consultor }}<br>
      <strong>CLIENTE:</strong> {{ item.cliente }}<br>
      <strong>VTME:</strong> {{ item.vtme }}<br>
      <strong>CNPJ:</strong> {{item.cnpj }}<br>
      <strong>TIPO:</strong> {{ item.tipo }}<br>
      <strong>RADAR:</strong>
    </p>
  </div>

</div>
