<div class="email">


  <app-email (outputAddtexto)="handleTexto($event)"></app-email>

  <div *ngIf="textoFormatado.length > 0" class="main">

    <p *ngFor="let item of textoFormatado">
     <strong>Consultor:</strong>  {{ item.consultor }}<br>
      <strong>Cliente:</strong> {{ item.cliente }}<br>
      <strong>VTME:</strong> {{ item.vtme }}<br>
      <strong>CNPJ:</strong> {{item.cnpj }}<br>
      <strong>Tipo:</strong> {{ item.tipo }}<br>
      <strong>Radar:</strong>

    </p>
  </div>

</div>
