:host{
/* menu.component.css */
.menu-container {
  position: relative;
  min-height: 10vh
}

.menu-icon {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 10px;
  z-index: 2;
  position: relative;
}

.menu-icon-close{
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 10px;
  z-index: 2;
  position: relative;
  left: 180px;
}

nav {
  position: fixed;
  top: 0;
  left: -250px; /* começa fora da tela */
  width: 250px;
  height: 100vh;
  background-color: var(--nav);
  overflow-y: auto;
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 1;
}

nav.open {
  left: 0; /* desliza para dentro */
  box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 30px;
}

nav ul li {
  margin: 15px 0;
  display: flex;
  align-items: center; /* Alinha verticalmente no centro */
  gap: 8px; /* Espaço entre a imagem e o link */


}

nav ul li a {
  color: var(--primary);
  text-decoration: none;
  font-size: 18px;
  text-decoration: none; /* Se quiser tirar o sublinhado */
  color: black; /* Cor do link */
  font-size: 16px; /* Ajusta o tamanho da fonte */

}

img{

  width: 24px; /* ou o tamanho que quiser */
  height: auto;

}

.logout{
  position: absolute; /* Faz o ul ficar fixo em relação ao container pai */
  bottom: 10px; /* Distância da parte inferior da tela */
  left: 0;
  right: 0;
}


}
