<div class="main-container" >

  <div class="menu-container" >

    <img
      *ngIf="!menuAberto"
      src="assets/botoes/menu-icon.svg"
      alt="Ícone menu"
      class="menu-icon"
      (click)="toggleMenu()"
    />

    <nav [class.open]="menuAberto">
      <img
        *ngIf="menuAberto"
        src="assets/botoes/close.svg"
        alt="Ícone fechar"
        class="menu-icon-close"
        (click)="toggleMenu()"
      />

      <ul>
        <li>
          <img src="assets/img/cadastro.png" alt="" />
          <a routerLink="cadastro" (click)="toggleMenu()">Cadastro</a>
        </li>
      </ul>
      <ul>
        <li>
          <img src="assets/img/relatorio.png" alt="" />
          <a routerLink="planilha" (click)="toggleMenu()">Relatório</a>
        </li>
      </ul>

      <ul class="logout">
        <li>
          <img src="assets/img/logout.png" alt="" />
          <a routerLink="/login">Logout</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>

</div>
