<div class="container2">
  <form [formGroup]="form" class="form mat-elevation-z8">
    <h1>Relatório - Log-in</h1>

    <img src="assets/img/login.png" alt="Imagem de login" />

    <mat-form-field class="full-width">

      <input
        formControlName="username"
        required
        name="usuario"
        matInput
        placeholder="Username"
      />
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
        formControlName="senha"
        required
        name="senha"
        type="password"
        matInput
        placeholder="Digite sua senha"
      />
    </mat-form-field>

    <button
      (click)="logar()"
      class="full-width mat-elevation-z4"
      mat-stroked-button
      [disabled]="!validaCampos()"
    >
      Login
    </button>
  </form>
</div>
