:host{
  #linha{
    padding:2px;
    background-color: var(--footer2);
    margin-top:50px;
  }

  #autor{
    color: white;
    background-color: var(--footer);
    padding:50px;
    text-align: center;
  }
}
